@import url("../css/navbar.css");
@import url("../css/masthead.css");
@import url("../css/showcase.css");
@import url("../css/about-me.css");
@import url("../css/socials.css");
@import url("../css/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* *COLORS */
    --heavy-clr: #001B79;
    --medium-clr: #1640D6;
    --light-clr: #ED5AB3;
    --warm-clr: #FF90C2;
    --white-clr: white;
    --black-clr: black;
    --gray-clr: #31363F;

    /* main colors for page */
    --background-clr: #FFF5E0;
    --dark-clr: #141E46;
    --accent-clr: #8DECB4;
    --smoothaccent-clr: #41B06E;

    /* FONT FAMILIES */
    --ff-heading: "Orbitron", sans-serif;
    --ff-text: "Roboto", sans-serif;

    /* FONT SIZES */
    --fs-body: 16px;
    --fs-navlink: 18px;
    --fs-Headers: 30px;
    --fs-bigheader: 70px;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-bigheader);
    color: var(--white-clr); 
}
h2,
h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-Headers);
    color: var(--white-clr); 
}

p, 
li {
    font-family: var(--ff-text);
    font-size: var(--fs-body);
    list-style: none;
    text-decoration: none;
    color: var(--white-clr);
}

a {
    font-family: var(--ff-text);
    font-size: var(--fs-navlink);
    list-style: none;
    text-decoration: none;
    color: var(--white-clr);
}

.main-dis {
    display: flex;
    height: 100dvh;
    background-color: var(--background-clr);
}

.display-area {
    width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}